@use '../../../styles/colors';
@use '../../../styles/screens';
@use '../../../styles/spaces';

.overviewTransactions {
  border-radius: spaces.$radiusMS;
  background-color: colors.$white-0;
  padding: spaces.$spaceXL;
  display: grid;
  grid-template-rows: auto auto;
  row-gap: spaces.$spaceXL;

  @include screens.phone{
    padding: spaces.$spaceL spaces.$spaceML;
  }
}