@use '../../../styles/screens';

.overviewTransactions {
  border-radius: spaces.$radiusMS;
  background-color: colors.$white-0;
  padding: 32px;
  display: grid;
  grid-template-rows: auto auto;
  row-gap: 32px;

  @include screens.phone{
    padding: 24px 20px;
  }
}