@use '../../../styles/mixins';

.overviewTransactions {
  border-radius: 12px;
  background-color: var(--white-0);
  padding: 32px;
  display: grid;
  grid-template-rows: auto auto;
  row-gap: 32px;

  @include mixins.phone(){
    padding: 24px 20px;
  }
}