@use '../../../styles/colors';
@use '../../../styles/fonts';
@use '../../../styles/functions';
@use '../../../styles/spaces';

$transaction-row-image-height: functions.to-rem(40px);

.overviewTransactionRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.overviewTransactionRowImage {
  border-radius: spaces.$radiusML;
  height: $transaction-row-image-height;
  width: auto;
}

.overviewTransactionRowInfo {
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: spaces.$spaceS;
}

.overviewTransactionRowInfoValue {
  display: flex;
  justify-content: flex-end;

  @include fonts.text-preset-4-bold;

  &.black {
    color: colors.$grey-900;
  }

  &.green {
    color: colors.$green;
  }
}

.overviewTransactionRowInfoDate {
  color: colors.$grey-500;

  @include fonts.text-preset-5;
}

.overviewTransactionRowName {
  margin-left: spaces.$spaceM;
  flex-grow: 1;

  @include fonts.text-preset-4-bold;
}