@use '../../../styles/colors';
@use '../../../styles/fonts';
@use '../../../styles/spaces';

.potProgressDisplayHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.potProgressDisplayHeaderTitle {
  flex-grow: 1;
  color: colors.$grey-500;

  @include fonts.text-preset-4;
}

.potProgressDisplayHeaderValue {
  margin-left: spaces.$spaceS;
  color: colors.$grey-900;
  overflow: hidden;
  text-overflow: ellipsis;

  @include fonts.text-preset-1;
}
