@use '../../../styles/colors';
@use '../../../styles/functions';
@use '../../../styles/spaces';

$border-thickniss: functions.to-rem(2px);

.potProgressDisplayChartBarDiff {
  border-radius: 0 spaces.$spaceXS spaces.$spaceXS 0;
  height: spaces.$spaceS;

  &.green {
    background-color: colors.$green;
  }

  &.red {
    background-color: colors.$red;
  }

  &.showGap {
    border-left: $border-thickniss solid colors.$beige-100;
  }
}