@use '../../../styles/colors';
@use '../../../styles/spaces';

.potProgressDisplayChartBarBase {
  height: spaces.$spaceS;
  background-color: colors.$grey-900;
  width: clamp(0px, calc(80% - 2px), 100%);
}
.potProgressDisplayChartBarBase.hardRightBorder {
  border-radius: spaces.$spaceXS 0 0 spaces.$spaceXS;
}
.potProgressDisplayChartBarBase.roundBorder {
  border-radius: spaces.$spaceXS;
}