@use '../../../styles/colors';
@use '../../../styles/spaces';

.potProgressDisplayChartBarDiff {
  border-radius: 0 spaces.$spaceXS spaces.$spaceXS 0;
  height: spaces.$spaceS;

  &.green {
    background-color: colors.$green;
  }

  &.red {
    background-color: colors.$red;
  }

  &.showGap {
    border-left: 2px solid colors.$beige-100;
  }
}