@use '../../../styles/colors';
@use '../../../styles/fonts';

.potProgressDisplayHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.potProgressDisplayHeaderTitle {
  flex-grow: 1;
  color: colors.$grey-500;

  @include fonts.text-preset-4;
}

.potProgressDisplayHeaderValue {
  color: colors.$grey-900;

  @include fonts.text-preset-1;
}
