@use '../../../styles/colors';
@use '../../../styles/spaces';

.potProgressDisplayChartBar {
  border-radius: spaces.$spaceXS;
  height: spaces.$spaceS;
  width: 100%;
  color: colors.$beige-100;
  position: relative;
}

.potProgressDisplayChartBarBaseWrapper {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  position: absolute;
}

.potProgressDisplayChartBarDiffWrapper {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}