.searchbarInputContainer {
  flex-grow: 1;
}

.searchbarInput {
  border-radius: 12px;
  border: 1px solid var(--searchbar-grey);
  padding: 14px 48px 12px 18px;
  width: 100%;
  color: var(--text-dark);
}
.searchbarInput::placeholder {
  color: var(--searchbar-grey);
  letter-spacing: 1px;
}

.searchbarInputLense {
  height: 16px;
  width: auto;
  top: calc(50% - 8px);
  left: calc(100% - 36px);
  position: absolute;
}

.searchbarInputRelative {
  max-width: 320px;
  position: relative;
}