$size: 240px;

.overviewBudgetsDiagram {
  width: 100%;
  display: flex;
  justify-content: center;
}

.overviewBudgetsDiagramCircleBig {
  width: $size;
  height: $size;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  justify-content: center;
  align-items: center;
  position: relative;
}

.overviewBudgetsDiagramCircleMiddle {
  background-color: var(--white-0);
  width: 80%;
  height: 80%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 0;
  opacity: 0.5;
}

.overviewBudgetsDiagramCircleSmall {
  background-color: var(--white-0);
  width: 70%;
  height: 70%;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  opacity: 1;
}

.overviewBudgetsDiagramSpend {
  font-size: 32px;
  font-weight: 700;
  z-index: 2;
  color: var(--grey-900);
}

.overviewBudgetsDiagramTotal {
  font-size: 12px;
  z-index: 2;
  color: var(--grey-500);
}