@use '../../styles/colors';
@use '../../styles/fonts';
@use '../../styles/functions';
@use '../../styles/screens';
@use '../../styles/spaces';

$circle-size: functions.to-rem(240px);

.overviewBudgetsDiagram {
  width: 100%;
  display: flex;
  justify-content: center;
}

.overviewBudgetsDiagramCircleBig {
  width: $circle-size;
  height: $circle-size;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  row-gap: spaces.$spaceS;
  justify-content: center;
  align-items: center;
  position: relative;
}

.overviewBudgetsDiagramCircleMiddle {
  background-color: colors.$white-0;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 0;
  opacity: 0.5;
}

.overviewBudgetsDiagramCircleSmall {
  background-color: colors.$white-0;
  width: 70%;
  height: 70%;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  row-gap: spaces.$spaceS;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  opacity: 1;
}

.overviewBudgetsDiagramSpend {
  color: colors.$grey-900;
  z-index: 2;

  @include fonts.text-preset-1;
}

.overviewBudgetsDiagramTotal {
  color: colors.$grey-500;
  z-index: 2;

  @include fonts.text-preset-5;
}