@use '../../styles/colors';
@use '../../styles/fonts';
@use '../../styles/functions';

.overlayContentAddNewBudget {
  display: flex;
  flex-direction: column;
}

.fieldTitle {
  margin-bottom: 8px;
  display: block;
  color: var(colors.$grey-500);

  @include fonts.text-preset-4-bold;
}





