.overlayContentDeletePot {
  margin-bottom: 8px;
  border: 0;
  border-radius: 8px;
  background-color: colors.$red;
  padding: 16px;
  font-weight: 600;
  color: colors.$white-0;
  cursor: pointer;
}
.overlayContentDeletePot:hover {
  background-color: colors.$beige-500;
  transition: background-color 0.1s ease;
  color: colors.$white-0;
}
.overlayContentDeletePot:focus-visible {
  border: 2px solid colors.$grey-900;
  padding: 14px;
  background-color: colors.$beige-500;
  transition: background-color 0.1s ease;
  color: colors.$white-0;
  outline: none;
}