@use '../../styles/colors';
@use '../../styles/fonts';
@use '../../styles/functions';
@use '../../styles/spaces';

$border-thickness: functions.to-rem(2px);
$custom-space-focused: functions.to-rem(14px);

$transition-duration: 0.1s;

.overlayContentDeletePot {
  margin-bottom: spaces.$spaceS;
  border: 0;
  border-radius: spaces.$radiusS;
  background-color: colors.$red;
  padding: spaces.$spaceM;
  color: colors.$white-0;
  cursor: pointer;

  @include fonts.text-preset-4-bold;

  &:hover {
    background-color: colors.$beige-500;
    transition: background-color $transition-duration ease;
    color: colors.$white-0;
  }

  &:focus-visible {
    border: $border-thickness solid colors.$grey-900;
    padding: $custom-space-focused;
    background-color: colors.$beige-500;
    transition: background-color $transition-duration ease;
    color: colors.$white-0;
    outline: none;
  }
}
