@use '../../styles/colors';
@use '../../styles/fonts';
@use '../../styles/functions';
@use '../../styles/spaces';

$max-height-dropdown-list: functions.to-rem(290px);

.dropdownColor {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dropdownColorContainer {
  margin-bottom: spaces.$spaceML;
  position: relative;
}

.dropDownColorListItem {
  display: flex;
  flex-direction: row;
}

.dropdownColorWrapper {
  border-radius: spaces.$radiusS;
  border: 1px solid colors.$beige-500;
  padding: functions.to-rem(11px) functions.to-rem(21px) functions.to-rem(13px) functions.to-rem(21px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  height: auto;
  cursor: pointer;
  position: relative;

  @include fonts.text-preset-4;

  &:hover {
    border: 1px solid var(colors.$grey-900);
    transition: border 0.1s ease;
    outline: none;
  }

  &:focus-visible {
    border: 1px solid var(colors.$grey-900);
    transition: border 0.1s ease;
    outline: none;
  }
}

.dropDownColorList {
  border-radius: spaces.$radiusS;
  box-shadow: 0 5px 40px -25px colors.$grey-900;
  background-color: colors.$white-0;
  display: flex;
  flex-direction: column;
  max-height: functions.to-rem(42px);
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 4;
  visibility: hidden;
  overflow: hidden;
  transition: max-height 0.1s ease, visibility 0.1s ease;

  &.isOpen {
    max-height: $max-height-dropdown-list;
    overflow-y: auto;
    visibility: visible;
  }
}