@use '../../styles/colors';
@use '../../styles/fonts';
@use '../../styles/functions';
@use '../../styles/spaces';

$border-thickniss: functions.to-rem(1px);
$custom-space-dropdown-top: functions.to-rem(11px);
$custom-space-dropdown-right-left: functions.to-rem(21px);
$custom-space-dropdown-bottom: functions.to-rem(13px);
$max-height-dropdown-list-item: functions.to-rem(42px);
$max-height-dropdown-list: functions.to-rem(290px);

$transition-duration: 0.1s;

.dropdownColor {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dropdownColorContainer {
  margin-bottom: spaces.$spaceML;
  position: relative;
}

.dropDownColorListItem {
  display: flex;
  flex-direction: row;
}

.dropdownColorWrapper {
  border-radius: spaces.$radiusS;
  border: $border-thickniss solid colors.$beige-500;
  padding: $custom-space-dropdown-top $custom-space-dropdown-right-left $custom-space-dropdown-bottom;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  height: auto;
  cursor: pointer;
  position: relative;

  @include fonts.text-preset-4;

  &:hover {
    border: $border-thickniss solid colors.$grey-900;
    transition: border $transition-duration ease;
    outline: none;
  }

  &:focus-visible {
    border: $border-thickniss solid var(colors.$grey-900);
    transition: border $transition-duration ease;
    outline: none;
  }
}

.dropDownColorList {
  border-radius: spaces.$radiusS;
  box-shadow: 0 5px 40px -25px colors.$grey-900;
  background-color: colors.$white-0;
  display: flex;
  flex-direction: column;
  max-height: $max-height-dropdown-list-item;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 4;
  visibility: hidden;
  overflow: hidden;
  transition: max-height $transition-duration ease, visibility $transition-duration ease;

  &.isOpen {
    max-height: $max-height-dropdown-list;
    overflow-y: auto;
    visibility: visible;
  }
}