@use '../../styles/colors';

.overlayContentEditBudget {
  display: flex;
  flex-direction: column;
}

.overlayContentEditBudgetNotAllowed {
  cursor: not-allowed;
  color: colors.$grey-500;
}

.overlayContentEditBudgetNoEvents {
  pointer-events: none;
}