@use '../../styles/colors';
@use '../../styles/fonts';
@use '../../styles/spaces';

.overlayContentAddNewBudget {
  display: flex;
  flex-direction: column;
}

.fieldTitle {
  margin-bottom: spaces.$spaceS;
  display: block;
  color: colors.$grey-500;

  @include fonts.text-preset-4-bold;
}
