.overlayBackground{
  background-color: rgb(0,0,0,0.5);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 3;
}
.overlayBackground.isHidden {
  display: none;
}

.overlayForm{
  border-radius: 12px;
  background-color: var(--component-background-bright);
  padding: 32px;
  height: auto;
  width: 560px;
  bottom: calc(50% - 245px);
  left: calc(50% - 280px);
  position: fixed;
  z-index: 4;
}
.overlayForm.isHidden {
  display: none;
}

.overlayFormContent {
  display: flex;
  flex-direction: column;
}

.overlayFormHeaderBar {
  display: flex;
  flex-direction: row;
}

.overlayFormHeaderBarIcon {
  padding: 6px;
  cursor: pointer;
}
.overlayFormHeaderBarIcon:hover {
  filter: invert(74%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%);
}
.overlayFormHeaderBarIcon:focus-visible {
  border-radius: 8px;
  border: 2px solid var(--text-dark);
  padding: 4px;
  filter: invert(74%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%);
  outline: none;
}

.overlayFormHeaderBarTitle{
  margin: 0;
  height: auto;
  flex-grow: 1;
  font-size: 32px;
}

.overlayFormHeaderText {
  margin: 20px 0;
  line-height: 1.5;
  font-size: 14px;
  color: var(--text-grey);
}

.overlayFormSubmit {
  border: 0;
  border-radius: 8px;
  background-color: var(--component-background-dark);
  padding: 16px;
  width: 100%;
  font-weight: 600;
  color: var(--text-white);
  cursor: pointer;
}
.overlayFormSubmit:hover {
  background-color: var(--component-background-grey);
  transition: background-color 0.1s ease;
}
.overlayFormSubmit:focus-visible {
  border: 2px solid var(--text-dark);
  padding: 14px;
  background-color: var(--component-background-grey);
  transition: background-color 0.1s ease;
  outline: none;
}