@use '../../styles/colors';
@use '../../styles/fonts';
@use '../../styles/functions';
@use '../../styles/screens';
@use '../../styles/spaces';

$border-thickness: functions.to-rem(2px);
$border-thickness-disabled: functions.to-rem(1px);
$custom-space-form-submit: functions.to-rem(14px);
$custom-space-header-bar: functions.to-rem(6px);
$overlay-form-width: functions.to-rem(560px);

$transition-duration: 0.1s;

.overlayBackground {
  background-color: rgb(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 3;

  &.isHidden {
    display: none;
  }
}

.overlayCardBox {
  display: flex;
  flex-direction: column;
}

.overlayForm {
  border-radius: spaces.$radiusMS;
  background-color: colors.$white-0;
  padding: spaces.$spaceXL;
  height: auto;
  width: $overlay-form-width;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  z-index: 4;

  @include screens.phone {
    padding: spaces.$spaceL spaces.$spaceML;
    width: calc(100% - 40px);
  }

  &.isHidden {
    display: none;
  }

  &.abort {
    padding-bottom: spaces.$spaceM;
  }
}

.overlayFormContent {
  display: flex;
  flex-direction: column;
}

.overlayFormHeaderBar {
  display: flex;
  flex-direction: row;
}

.overlayFormHeaderBarIcon {
  padding: $custom-space-header-bar;
  cursor: pointer;

  &:hover {
    filter: invert(74%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%);
  }

  &:focus-visible {
    border-radius: spaces.$radiusS;
    border: $border-thickness solid colors.$grey-900;
    padding: spaces.$spaceXS;
    filter: invert(74%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%);
    outline: none;
  }
}

.overlayFormHeaderBarTitle {
  margin: 0;
  height: auto;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;

  @include fonts.text-preset-1;
}

.overlayFormHeaderText {
  margin: spaces.$spaceML 0;
  color: colors.$grey-500;

  @include fonts.text-preset-4;
}

.overlayFormSubmit {
  border: 0;
  border-radius: spaces.$radiusS;
  background-color: colors.$grey-900;
  padding: spaces.$spaceM;
  width: 100%;
  color: colors.$white-0;
  cursor: pointer;

  @include fonts.text-preset-4-bold;

  &.isEnabled:hover, &.abort:hover {
    background-color: colors.$beige-500;
    transition: background-color $transition-duration ease;
    color: colors.$white-0;
  }

  &.isEnabled:focus-visible, &.abort:focus-visible {
    border: $border-thickness solid colors.$grey-900;
    padding: $custom-space-form-submit;
    background-color: colors.$beige-500;
    transition: background-color $transition-duration ease;
    color: colors.$white-0;
    outline: none;
  }

  &.disabled {
    border: $border-thickness-disabled solid colors.$grey-100;
    background-color: colors.$grey-100;
    color: colors.$grey-500;
    pointer-events: none;
  }

  &.abort {
    background-color: transparent;
    color: colors.$grey-500;

    @include fonts.text-preset-4;
  }
}

.overlayFormSubmitContainer.disabled {
  cursor: not-allowed;
}