@use '../styles/colors';
@use '../styles/screens';

.cardHeader {
  display: flex;
  flex-direction: row;
  column-gap: 16px;
  align-items: center;
}

.cardHeaderCircle {
  border-radius: 50%;
  height: 16px;
  width: 16px;
}
.cardHeaderCircle.green{
  background-color: colors.$green;
}
.cardHeaderCircle.yellow{
  background-color: colors.$yellow;
}
.cardHeaderCircle.cyan{
  background-color: colors.$cyan;
}
.cardHeaderCircle.navy{
  background-color: colors.$navy;
}
.cardHeaderCircle.red{
  background-color: colors.$red;
}
.cardHeaderCircle.purple{
  background-color: colors.$purple;
}
.cardHeaderCircle.turquoise{
  background-color: colors.$turquoise;
}
.cardHeaderCircle.brown{
  background-color: colors.$brown;
}
.cardHeaderCircle.magenta{
  background-color: colors.$magenta;
}
.cardHeaderCircle.blue{
  background-color: colors.$blue;
}
.cardHeaderCircle.grey{
  background-color: colors.$navy-grey;
}
.cardHeaderCircle.army{
  background-color: colors.$army-green;
}
.cardHeaderCircle.pink{
  background-color: colors.$pink;
}
.cardHeaderCircle.gold{
  background-color: colors.$gold;
}
.cardHeaderCircle.orange{
  background-color: colors.$orange;
}
.cardHeaderCircle.sepia{
  background-color: colors.$beige-100;
}
.cardHeaderCircle.white{
  background-color: colors.$white;
}
.cardHeaderCircle.black{
  background-color: colors.$black;
}

.cardHeaderEditIcon {
  padding: 4px;
  cursor: pointer;
}
.cardHeaderEditIcon:hover {
  filter: invert(74%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%);
}
.cardHeaderEditIcon:focus-visible {
  border-radius: 4px;
  box-shadow: 0 0 0 2px colors.$grey-900;
  filter: invert(74%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%);
  outline: none;
}

.cardHeaderEditIconContainer {
  position: relative;
}

.cardHeaderTitle {
  flex-grow: 1;
  font-size: 20px;
  font-weight: 600;

  @include mixins.phone() {
    font-size: 16px;
  }
}