.headerBar {
  display: flex;
  flex-direction: row;
}

.headerBarButton {
  border-radius: 8px;
  background-color: var(--component-background-dark);
  padding: 16px;
  font-weight: 600;
  color: var(--text-white);
  cursor: pointer;
}
.headerBarButton:hover {
  border-radius: 8px;
  border-color: var(--component-background-grey);;
  background-color: var(--component-background-grey);
  padding: 16px;
  font-weight: 600;
  color: var(--text-white);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.headerBarTitle{
  flex-grow: 1;
}