.headerBar {
  display: flex;
  flex-direction: row;
}

.headerBarButton {
  border: 0;
  border-radius: 8px;
  background-color: var(--component-background-dark);
  padding: 16px;
  font-weight: 600;
  color: var(--text-white);
  cursor: pointer;
}
.headerBarButton:hover {
  background-color: var(--component-background-grey);
  transition: background-color 0.2s ease;
  outline: none;
}
.headerBarButton:focus-visible{
  border-radius: 8px;
  box-shadow: 0 0 0 2px var(--component-background-dark);
  border-color: var(--component-background-dark);
  background-color: var(--component-background-grey);
  padding: 16px;
  font-weight: 600;
  color: var(--text-white);
  cursor: pointer;
  transition: background-color 0.2s ease;
  outline: none;
}

.headerBarTitle{
  flex-grow: 1;
}