@mixin form-field-title() {
  margin-bottom: 8px;
  display: block;
  font-size: 13px;
  font-weight: 600;
  color: var(--grey-500);
}

@mixin form-field-outline() {
  border: 1px solid var(--grey-900);
  transition: border 0.1s ease;
  outline: none;
}