@use 'functions';

$phone-width: functions.to-rem(600px);
$sidebar-width: functions.to-rem(300px);
$tablet-width: functions.to-rem(960px);

@mixin phone($size-of-surrounding-elements: 0) {
  @media (max-width: #{$phone-width + $size-of-surrounding-elements}) {
    @content;
  }
}

@mixin tablet-and-down($size-of-surrounding-elements: 0) {
  @media (max-width: #{$tablet-width + $size-of-surrounding-elements}) {
    @content;
  }
}
