@use 'functions';

$spaceXXS: functions.to-rem(2px);
$spaceXS: functions.to-rem(4px);
$spaceS: functions.to-rem(8px);
$spaceMS: functions.to-rem(12px);
$spaceM: functions.to-rem(16px);
$spaceML: functions.to-rem(20px);
$spaceL: functions.to-rem(24px);
$spaceXL: functions.to-rem(32px);
$spaceXXL: functions.to-rem(40px);

$radiusS: functions.to-rem(8px);