.searchbarInputContainer {
  flex-grow: 1;
}

.searchbarInput {
  border-radius: 12px;
  border: 1px solid colors.$beige-500;
  padding: 14px 48px 12px 18px;
  width: 100%;
  color: colors.$grey-900;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition:
          border 0.3s ease,
          border-color 0.3s ease,
          background-color 0.3s ease,
          box-shadow 0.3s ease;
}
.searchbarInput::placeholder {
  color: colors.$beige-500;
  letter-spacing: 1px;
}
.searchbarInput:focus {
  border-color: colors.$beige-500;
  outline: none;
  box-shadow: 0 0 0 2px colors.$grey-900;
}

.searchbarInputLense {
  height: 16px;
  width: auto;
  top: calc(50% - 8px);
  right: 20px;
  position: absolute;
}

.searchbarInputRelative {
  max-width: 320px;
  position: relative;
}