@use '../../styles/colors';
@use '../../styles/functions';
@use '../../styles/screens';
@use '../../styles/spaces';

$border-thickniss: functions.to-rem(1px);
$custom-space-horizontal-correction: functions.to-rem(20px);
$custom-space-horizontal-correction-phone: functions.to-rem(10px);
$searchbar-icon-height: functions.to-rem(6px);
$searchbar-icon-height-phone: functions.to-rem(20px);
$searchbar-width-phone: functions.to-rem(42px);

$transition-duration: 0.3s;

.dropdownSort {
  flex-shrink: 0;
}

.searchbarDropdownSort {
  border-radius: spaces.$radiusS;
  border: 1px solid colors.$beige-500;
  padding: spaces.$spaceMS spaces.$spaceXXL spaces.$spaceMS spaces.$spaceM;
  color: colors.$grey-900;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition:
          border $transition-duration ease,
          border-color $transition-duration ease,
          background-color $transition-duration ease,
          box-shadow $transition-duration ease;

  @include screens.phone {
    margin-left: spaces.$spaceS;
    border: $border-thickniss solid transparent;
    padding: spaces.$spaceMS;
    background: transparent;
    width: $searchbar-width-phone;
    color: transparent;
  }
}
.searchbarDropdownSort:focus-visible {
  border: $border-thickniss solid colors.$beige-500;
  background-color: colors.$beige-500;
  border-color: colors.$beige-500;
  outline: none;
  color: colors.$white-0;
  cursor: pointer;

  @include screens.phone {
    color: transparent;
  }
}
.searchbarDropdownSort:focus-visible ~ .searchbarDropdownSortIcon {
  --icon-filter: invert(74%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(300%) contrast(100%);
}


.searchbarDropdownSort option{
  @include screens.phone {
    color: colors.$grey-900;
  }
}

.searchbarDropdownSortIcon {
  background: transparent;
  height: $searchbar-icon-height;
  width: auto;
  top: calc(50% - 3px);
  right: $custom-space-horizontal-correction;
  position: absolute;
  cursor: pointer;
  pointer-events: none;
  filter: var(--icon-filter);

  @include screens.phone {
    height: $searchbar-icon-height-phone;
    top: calc(50% - 10px);
    right: $custom-space-horizontal-correction-phone;
    z-index: 1;
  }
}

.searchbarDropdownSortWrapper {
  position: relative;

  &:hover {
    .searchbarDropdownSort {
      border: $border-thickniss solid colors.$beige-500;
      background-color: colors.$beige-500;
      color: colors.$white-0;
      cursor: pointer;
    }

    .searchbarDropdownSortIcon {
      filter: invert(74%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(300%) contrast(100%);
    }

    @include screens.phone {
      .searchbarDropdownSort {
        color: transparent;
      }
    }
  }
}