@use '../../styles/colors';
@use '../../styles/fonts';
@use '../../styles/screens';
@use '../../styles/spaces';

.searchbarDropdown {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.searchbarLabel {
  margin-right: spaces.$spaceS;
  margin-left: spaces.$spaceL;

  @include fonts.text-preset-5;
}

.searchbarLabelWrapper {
  margin-top: spaces.$spaceML;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: wrap;
  row-gap: spaces.$spaceM;
  align-items: center;
  justify-content: flex-end;
}

.searchbarSmall {
  display: flex;
  flex-direction: row;
  //justify-content: flex-end;
}

.transactionsSearchbar {
  width: 100%;
  //display: flex;
  //flex-direction: row;
  //flex-wrap: wrap;
  //align-items: center;
  color: colors.$grey-500;
  row-gap: spaces.$spaceM;

  @include fonts.text-preset-3;

  @include screens.phone {
    flex-direction: column;
    //justify-content: center;
    //flex-wrap: nowrap;
  }
}

.transactionsSearchbarInput {
  max-width: fit-content;
}