@use '../../../styles/functions';
@use '../../../styles/spaces';

$min-width-column: functions.to-rem(248px);

.overviewSummary {
  margin: spaces.$spaceXL 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, (minmax($min-width-column, 1fr)));
  column-gap: spaces.$spaceL;
  row-gap: spaces.$spaceL;
}
