@use '../../../styles/screens';

.overviewSummaryCard {
  border-radius: 12px;
  background-color: colors.$white-0;
  padding: 24px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;

  @include mixins.phone(){
    padding: 20px;
  }
}
.overviewSummaryCard.inverted {
  background-color: colors.$grey-900;
}

.overviewSummaryCardTitle {
  margin: 5px 0;
  font-size: 14px;
  font-weight: 300;
  color: colors.$grey-500;
}
.overviewSummaryCardTitle.inverted {
  color: colors.$white-0;
}

.overviewSummaryCardValue {
  font-size: 32px;
  font-weight: 700;
  color: colors.$grey-900;
}
.overviewSummaryCardValue.inverted {
  color: colors.$white-0;
}