@use '../../../styles/colors';
@use '../../../styles/fonts';
@use '../../../styles/functions';
@use '../../../styles/screens';
@use '../../../styles/spaces';

$custom-space-card-title: functions.to-rem(5px);

.overviewSummaryCard {
  border-radius: spaces.$radiusMS;
  background-color: colors.$white-0;
  padding: spaces.$spaceL;
  display: flex;
  flex-direction: column;
  row-gap: spaces.$spaceMS;

  @include screens.phone {
    padding: spaces.$spaceML;
  }
}

.overviewSummaryCard.inverted {
  background-color: colors.$grey-900;
}

.overviewSummaryCardTitle {
  margin: $custom-space-card-title 0;
  color: colors.$grey-500;

  @include fonts.text-preset-4;

  &.inverted {
    color: colors.$white-0;
  }
}

.overviewSummaryCardValue {
  color: colors.$grey-900;

  @include fonts.text-preset-1;

  &.inverted {
    color: colors.$white-0;
  }
}
