.paginationPages {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
}

.paginationPagesButton {
  border-radius: 8px;
  border: 1px solid var(--searchbar-grey);
  background-color: var(--component-background-bright);
  padding: 12px 16px 10px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--text-dark);
}