@use '../../../styles/screens';

.paginationButtonNext {
  margin-left: 8px;
  border-radius: spaces.$radiusS;
  border: 1px solid colors.$beige-500;
  background-color: colors.$white-0;
  padding: 12px 16px 10px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: colors.$grey-900;
  transition:
          border 0.3s ease,
          border-color 0.3s ease,
          background-color 0.3s ease,
          box-shadow 0.3s ease;

  @include screens.phone {
    padding: 12px 15px 10px 1px;
  }
}
.paginationButtonNext.isEnabled:hover {
  border: 1px solid colors.$beige-500;
  background-color: colors.$beige-500;
  color: colors.$white-0;
  cursor: pointer;

  .paginationButtonNextCaret {
    filter: invert(74%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(300%) contrast(100%);
  }
}
.paginationButtonNext.isEnabled:focus-visible {
  border-color: colors.$beige-500;
  outline: none;
  box-shadow: 0 0 0 2px colors.$grey-900;
}
.paginationButtonNext.isDisabled {
  border: 1px solid colors.$grey-100;
  background-color: colors.$grey-100;
  color: colors.$grey-500;
  cursor: not-allowed;
}
.paginationButtonNext.isDisabled:focus-visible {
  border: 1px solid colors.$component-background-light;
  box-shadow: 0 0 0 2px colors.$component-background-light;
  outline: none;
}

.paginationButtonNextCaret {
  margin-left: 16px;
  margin-bottom: 2px;
}