@use '../../../styles/functions';

$custom-space-pagination-top: functions.to-rem(6px);

.transactionsPagination {
  margin-top: $custom-space-pagination-top;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
