@use '../../styles/mixins';

.sidebarLeft {
  border-radius: 0 16px 16px 0;
  background-color: var(--sidebar-background-grey);
  padding: 32px 24px 70px 0;
  height: calc(100% - 13px);
  width: 300px;
  position: fixed;
  display: flex;
  flex-direction: column;
  transition: width 0.4s ease;
  z-index: 2;
}
.sidebarLeft.minimized {
  width: 90px;
  padding: 32px 18px 70px 0;
}

.sidebarBottom {
  border-radius: 16px 16px 0 0;
  background-color: var(--sidebar-background-grey);
  padding: 8px 0 13px 0;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  z-index: 2;
}
.sidebarBottom.hidden {
  display: none;
}

.sidebarList {
  flex-grow: 1;

  @include mixins.tablet-and-down() {
    padding: 0 40px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  @include mixins.phone() {
    padding: 0 16px;
  }
}

.sidebarTitle {
  margin: 0 0 64px 24px;
  height: 60px;

  @include mixins.tablet-and-down() {
    display: none;
  }
}