.entryRow {
  border-radius: 0 15px 15px 0;
  padding: 18px 0 18px 32px;
  align-items: center;
  display: flex;
  text-decoration: none;
  cursor: pointer;
}
.entryRow:hover {
  img {
    filter: invert(74%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(300%) contrast(100%);
  }

  label {
    color: var(--sidebar-title);
  }
}
.entryRow.active {
  border-left: 4px solid var(--sidebar-entry-icon-selected);
  background-color: var(--sidebar-entry-selected-background);

  img {
    filter: invert(49%) sepia(22%) saturate(1093%) hue-rotate(126deg) brightness(95%) contrast(88%);
  }

  label {
    color: var(--sidebar-entry-text-selected);
  }
}

.entryRowImg {
  width: 20px;
}

.entryRowImgWrapper {
  height: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.entryRowLabel {
  margin-left: 16px;
  font-weight: 600;
  color: var(--sidebar-entry-text-default);
  cursor: pointer;
  white-space: nowrap;
  opacity: 1;
  transition: opacity 0.5s ease-in;
}
.entryRowLabel.minimized {
  opacity: 0;
  transition: opacity 0.2s ease-out;
}