@use '../../styles/screens';

.sidebarMinimizeWrapper {
  border: 2px solid colors.$grey-900;
  @include mixins.tablet-and-down() {
    display: none;
    width: 300px;
  }
}
.sidebarMinimizeWrapper:focus-visible {
  border-radius: 0 15px 15px 0;
  border: 2px solid colors.$white-0;
  outline: none;

  img {
    filter: invert(49%) sepia(22%) saturate(1093%) hue-rotate(126deg) brightness(95%) contrast(88%);
  }

  label {
    color: colors.$green;
  }
}