.overviewPotsSummary {
  border-radius: 12px;
  background-color: var(--beige-100);
  padding: 16px;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: 16px;
}

.overviewPotsSummaryContent {
  display: flex;
  flex-direction: column;
  row-gap: 11px;
}

.overviewPotsSummaryContentTitle {
  font-weight: 300;
  color: var(--grey-500);
}

.overviewPotsSummaryContentValue {
  font-size: 36px;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--grey-900);
}

.overviewPotsSummaryIcon {
  margin: 0 5px;
  height: 40px;
  width: auto;
}