@use '../../../styles/colors';
@use '../../../styles/fonts';
@use '../../../styles/functions';
@use '../../../styles/screens';
@use '../../../styles/spaces';

$custom-space-summary-content: functions.to-rem(11px);
$custom-space-summary-icon: functions.to-rem(5px);
$pot-summary-icon-height: functions.to-rem(40px);

.overviewPotsSummary {
  border-radius: spaces.$radiusMS;
  background-color: colors.$beige-100;
  padding: spaces.$spaceM;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: spaces.$spaceM;
}

.overviewPotsSummaryContent {
  display: flex;
  flex-direction: column;
  row-gap: $custom-space-summary-content;
}

.overviewPotsSummaryContentTitle {
  color: colors.$grey-500;

  @include fonts.text-preset-4;
}

.overviewPotsSummaryContentValue {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: colors.$grey-900;

  @include fonts.text-preset-1;
}

.overviewPotsSummaryIcon {
  margin: 0 $custom-space-summary-icon;
  height: $pot-summary-icon-height;
  width: auto;
}