.budgetCardBarCurrent {
  border-radius: 4px;
  height: 24px;
  width: var(--barCurrentWidthPercent);
  max-width: calc(100% - 8px);
  top: calc(50% - 12px);
  left: 4px;
  position: relative;
}
.budgetCardBarCurrent.dark-green{
   background-color: var(--dark-green);
 }
.budgetCardBarCurrent.light-blue{
  background-color: var(--light-blue);
}
.budgetCardBarCurrent.beige{
  background-color: var(--beige);
}
.budgetCardBarCurrent.dark-grey{
  background-color: var(--dark-grey);
}

.budgetCardBarMax {
  border-radius: 4px;
  background-color: var(--page-background);
  height: 32px;
  position: relative;
}

.budgetCardBarValues {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 16px;
}

.budgetCardHeader {
  display: flex;
  flex-direction: row;
  column-gap: 16px;
  align-items: center;
}

.budgetCardHeaderCircle {
  border-radius: 50%;
  height: 16px;
  width: 16px;
}
.budgetCardHeaderCircle.dark-green{
  background-color: var(--dark-green);
}
.budgetCardHeaderCircle.light-blue{
  background-color: var(--light-blue);
}
.budgetCardHeaderCircle.beige{
  background-color: var(--beige);
}
.budgetCardHeaderCircle.dark-grey{
  background-color: var(--dark-grey);
}

.budgetCardHeaderEditIcon {
  cursor: pointer;
}

.budgetCardHeaderTitle {
  flex-grow: 1;
  font-size: 20px;
  font-weight: 600;
}