@use '../../../styles/mixins';

.budgetCard {
  border-radius: 12px;
  background-color: var(--component-background-bright);
  padding: 32px 32px 12px 32px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  @include mixins.phone() {
    padding: 16px;
  }
}

.budgetCardBar {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.budgetCardBarCurrent {
  border-radius: 4px;
  height: 24px;
  width: var(--barCurrentWidthPercent);
  max-width: calc(100% - 8px);
  top: calc(50% - 12px);
  left: 4px;
  position: absolute;
}
.budgetCardBarCurrent.green{
  background-color: var(--green);
}
.budgetCardBarCurrent.yellow{
  background-color: var(--yellow);
}
.budgetCardBarCurrent.cyan{
  background-color: var(--cyan);
}
.budgetCardBarCurrent.navy{
  background-color: var(--navy);
}
.budgetCardBarCurrent.red{
  background-color: var(--red);
}
.budgetCardBarCurrent.purple{
  background-color: var(--purple);
}
.budgetCardBarCurrent.turquoise{
  background-color: var(--turquoise);
}
.budgetCardBarCurrent.brown{
  background-color: var(--brown);
}
.budgetCardBarCurrent.brown{
  background-color: var(--brown);
}
.budgetCardBarCurrent.magenta{
  background-color: var(--magenta);
}
.budgetCardBarCurrent.blue{
  background-color: var(--blue);
}
.budgetCardBarCurrent.grey{
  background-color: var(--grey);
}
.budgetCardBarCurrent.army{
  background-color: var(--army);
}
.budgetCardBarCurrent.pink{
  background-color: var(--pink);
}
.budgetCardBarCurrent.gold{
  background-color: var(--gold);
}
.budgetCardBarCurrent.orange{
  background-color: var(--orange);
}
.budgetCardBarCurrent.sepia{
  background-color: var(--sepia);
}
.budgetCardBarCurrent.white{
  background-color: var(--white);
}
.budgetCardBarCurrent.black{
  background-color: var(--black);
}

.budgetCardBarLabel {
  font-size: 14px;
  color: var(--text-grey);

  @include mixins.phone() {
    font-size: 12px;
  }
}

.budgetCardBarMax {
  border-radius: 4px;
  background-color: var(--page-background);
  height: 32px;
  position: relative;
}

.budgetCardBarValues {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 16px;
}
