@use '../../../styles/screens';

.budgetCardList{
  border-radius: 12px;
  background-color: var(--beige-100);
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px
}

.budgetCardListHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.budgetCardListHeaderLabel {
  flex-grow: 1;
  font-size: 16px;
  font-weight: 600;
  color: var(--grey-900);

  @include mixins.phone() {
    font-size: 14px;
  }
}

.budgetCardListHeaderLink {
  padding: 4px;
  font-size: 14px;
  text-decoration: none;
  color: var(--grey-500);

  @include mixins.phone() {
    font-size: 12px;
  }
}
.budgetCardListHeaderLink:focus-visible {
  border-radius: 4px;
  box-shadow: 0 0 0 2px var(--grey-900);
  color: var(--grey-900);
  outline: none;
}

.budgetCardListHeaderLinkCaret {
  margin-left: 16px;
}

.budgetCardListLine {
  margin: 12px 0;
  background-color: var(--horizontal-line-darker);
}