@use '../../../styles/colors';
@use '../../../styles/fonts';
@use '../../../styles/screens';
@use '../../../styles/spaces';

.budgetCardList {
  border-radius: spaces.$radiusMS;
  background-color: colors.$beige-100;
  padding: spaces.$spaceML;
  display: flex;
  flex-direction: column;
  row-gap: spaces.$spaceML;
}

.budgetCardListHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.budgetCardListHeaderLabel {
  flex-grow: 1;
  color: colors.$grey-900;

  @include fonts.text-preset-4-bold;
}

.budgetCardListHeaderLink {
  padding: spaces.$spaceXS;
  text-decoration: none;
  color: colors.$grey-500;

  @include fonts.text-preset-5;
}

.budgetCardListHeaderLink:focus-visible {
  border-radius: spaces.$radiusXS;
  box-shadow: 0 0 0 2px colors.$grey-900;
  color: colors.$grey-900;
  outline: none;
}

.budgetCardListHeaderLinkCaret {
  margin-left: spaces.$spaceM;
}

.budgetCardListLine {
  margin: spaces.$spaceMS 0;
  background-color: colors.$horizontal-line-darker;
}
