.overviewTransactionRowSmall {
  display: grid;
  grid-template-columns: 1fr 75px;
  align-items: center;
}

.overviewTransactionRowSmallImage {
  border-radius: 20px;
  height: 40px;
  width: auto;
}

.overviewTransactionRowSmallInfo {
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 8px;
}

.overviewTransactionRowSmallInfoValue {
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
  font-weight: 700;
}
.overviewTransactionRowSmallInfoValue.black {
  color: var(--text-dark);
}
.overviewTransactionRowSmallInfoValue.green {
  color: var(--text-green);
}

.overviewTransactionRowSmallInfoDate {
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
  color: var(--text-grey);
  white-space: nowrap;
}

.overviewTransactionRowSmallName {
  flex-grow: 1;
  font-size: 12px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}