@use '../../../styles/colors';
@use '../../../styles/fonts';
@use '../../../styles/functions';
@use '../../../styles/spaces';

.overviewTransactionRowSmall {
  display: grid;
  grid-template-columns: 1fr functions.to-rem(75px);
  align-items: center;
}

.overviewTransactionRowSmallImage {
  border-radius: spaces.$radiusML;
  height: functions.to-rem(40px);
  width: auto;
}

.overviewTransactionRowSmallInfo {
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: spaces.$spaceS;
}

.overviewTransactionRowSmallInfoValue {
  display: flex;
  justify-content: flex-end;

  @include fonts.text-preset-5-bold;

  &.black {
    color: colors.$grey-900;
  }

  &.green {
    color: colors.$green;
  }
}

.overviewTransactionRowSmallInfoDate {
  display: flex;
  justify-content: flex-end;
  color: colors.$grey-500;
  white-space: nowrap;

  @include fonts.text-preset-5;
}

.overviewTransactionRowSmallName {
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @include fonts.text-preset-5-bold;
}