@use '../../styles/colors';
@use '../../styles/fonts';
@use '../../styles/functions';
@use '../../styles/spaces';

.billCardTableRow {
  display: grid;
  grid-template-columns: 50% 25% 25%;
  align-items: center;
}

.billCardTableRowAmount {
  display: flex;
  justify-content: flex-end;

  @include fonts.text-preset-4-bold;

  &.red {
    color: colors.$red;
  }
}

.billCardTableRowDate {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: colors.$grey-500;

  @include fonts.text-preset-4;

  &.green {
    color: colors.$green;
  }
}

.billCardTableRowDateIcon {
  margin-left: spaces.$spaceS;
}

.billCardTableRowName {
  display: flex;
  flex-direction: row;
  align-items: center;

  @include fonts.text-preset-4-bold;
}

.billCardTableRowNameLabel {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.billCardTableRowNamePicture {
  margin-right: spaces.$spaceM;
  border-radius: 50%;
  height: functions.to-rem(32px);
  width: auto;
}