@use '../../styles/mixins';

.billTotal {
  border-radius: 12px;
  background-color: var(--component-background-dark);
  padding: 24px;
  display: flex;
  flex-direction: column;

  @include mixins.phone() {
    flex-direction: row;
    align-items: center;
    column-gap: 16px;
  }
}

.billTotalImage {
  justify-content: flex-start;
  margin-bottom: 32px;
  height: 40px;
  width: auto;

  @include mixins.phone() {
    margin-bottom: 0;
  }
}

.billTotalLabelWrapper {
  display: flex;
  flex-direction: column;
}

.billTotalTitle {
  margin-bottom: 11px;
  font-size: 14px;
  color: var(--text-white);
}

.billTotalAmount {
  font-size: 32px;
  font-weight: 600;
  color: var(--text-white);
}