@use '../../styles/screens';

.billCard {
  border-radius: 12px;
  background-color: var(--white-0);
  padding: 32px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;

  @include mixins.phone() {
    padding: 16px;
  }
}

.billCardTableHeader{
  display: grid;
  grid-template-columns: 50% 25% 25%;
  font-size: 14px;
  color: var(--grey-500);
}

.billCardTableHeaderAmount {
  display: flex;
  justify-content: flex-end;
}

.billCardTableHeaderDate {
  font-size: 14px;
  color: var(--grey-500);
}

.billCardSearchbar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.searchbarLabel {
  color: var(--grey-500);
  white-space: nowrap;
}