@use '../../styles/colors';
@use '../../styles/fonts';
@use '../../styles/functions';
@use '../../styles/screens';
@use '../../styles/spaces';

.billTotal {
  border-radius: spaces.$radiusMS;
  background-color: colors.$grey-900;
  padding: spaces.$spaceL;
  display: flex;
  flex-direction: column;

  @include screens.phone {
    flex-direction: row;
    align-items: center;
    column-gap: spaces.$spaceM;
  }
}

.billTotalImage {
  justify-content: flex-start;
  margin-bottom: spaces.$spaceXL;
  height: functions.to-rem(40px);
  width: auto;

  @include screens.phone {
    margin-bottom: 0;
  }
}

.billTotalLabelWrapper {
  display: flex;
  flex-direction: column;
}

.billTotalTitle {
  margin-bottom: spaces.$spaceMS;
  color: colors.$white-0;

  @include fonts.text-preset-4;
}

.billTotalAmount {
  color: colors.$white-0;

  @include fonts.text-preset-1;
}