@use '../../styles/colors';
@use '../../styles/fonts';
@use '../../styles/screens';
@use '../../styles/spaces';

.billCard {
  border-radius: spaces.$radiusMS;
  background-color: colors.$white-0;
  padding: spaces.$spaceXL;
  display: flex;
  flex-direction: column;
  row-gap: spaces.$spaceL;

  @include screens.phone {
    padding: spaces.$spaceM;
  }
}

.billCardTableHeader {
  display: grid;
  grid-template-columns: 50% 25% 25%;
  color: colors.$grey-500;

  @include fonts.text-preset-4;
}

.billCardTableHeaderAmount {
  display: flex;
  justify-content: flex-end;
}

.billCardTableHeaderDate {
  color: colors.$grey-500;

  @include fonts.text-preset-4;
}

.billCardSearchbar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.searchbarLabel {
  color: colors.$grey-500;
  white-space: nowrap;
}