.billCardTableRowSmall {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.billCardTableRowSmallAmount {
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  font-weight: 600;
}
.billCardTableRowSmallAmount.red {
  color: var(--text-red);
}

.billCardTableRowSmallDate {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  font-size: 12px;
  color: var(--text-grey);
}
.billCardTableRowSmallDate.green {
  color: var(--text-green);
}

.billCardTableRowSmallDateAmount {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.billCardTableRowSmallDateIcon {
  margin-left: 8px;
}

.billCardTableRowSmallName {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 600;
}

.billCardTableRowSmallNameLabel {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.billCardTableRowSmallNamePicture {
  margin-right: 16px;
  border-radius: 50%;
  height: 32px;
  width: auto;
}