@use '../../../styles/colors';
@use '../../../styles/fonts';
@use '../../../styles/screens';
@use '../../../styles/spaces';

.budgetsDiagramCard {
  border-radius: spaces.$radiusMS;
  background-color: colors.$white-0;
  padding: spaces.$spaceXL spaces.$spaceXL spaces.$spaceL spaces.$spaceXL;
  display: flex;
  flex-direction: column;
  row-gap: spaces.$spaceXL;

  @include screens.tablet-and-down {
    padding: spaces.$spaceML;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: spaces.$spaceM;
    row-gap: spaces.$spaceM;
    align-items: center;
  }

  @include screens.phone {
    padding: spaces.$spaceM;
    display: flex;
    flex-direction: column;
  }
}

.budgetsDiagramCardDetails {
  display: flex;
  flex-direction: column;
  row-gap: spaces.$spaceL;

  @include screens.phone {
    width: 100%;
  }
}

.budgetsDiagramCardDetailsLabel {
  @include fonts.text-preset-2;

  @include screens.phone {
    @include fonts.text-preset-3;
  }
}

.budgetsDiagramCardDetailsLine {
  margin: spaces.$spaceM 0;
}

.budgetsDiagramWrapper {
  padding: spaces.$spaceML 0;
}