@use '../../../styles/mixins';

.budgetsDiagramCard {
  border-radius: 12px;
  background-color: var(--component-background-bright);
  padding: 32px 32px 24px 32px;
  display: flex;
  flex-direction: column;
  row-gap: 32px;

  @include mixins.tablet-and-down() {
    padding: 21px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
    row-gap: 16px;
    align-items: center;
  }

  @include mixins.phone() {
    padding: 16px;
    display: flex;
    flex-direction: column;
  }
}

.budgetsDiagramCardDetails {
  display: flex;
  flex-direction: column;
  row-gap: 24px;

  @include mixins.phone() {
    width: 100%;
  }
}

.budgetsDiagramCardDetailsLabel {
  font-size: 20px;
  font-weight: 600;

  @include mixins.phone() {
    font-size: 16px;
  }
}

.budgetsDiagramCardDetailsLine {
  margin: 16px 0;
}

.budgetsDiagramWrapper {
  padding: 20px 0;
}