@use '../../../styles/mixins';

.budgetsDiagramCardRow {
  display: flex;
  flex-direction: row;
  align-items: center;

  @include mixins.tablet-and-down() {
    display: grid;
    grid-template-columns: auto 1fr 70px 70px;
    column-gap: 8px;
    align-items: center;
  }

  @include mixins.phone() {
    display: grid;
    grid-template-columns: auto 1fr 60px 60px;
    column-gap: 8px;
    align-items: center;
  }
}

.cardRowLeftBorder{
  margin-right: 16px;
  border-radius: 8px;
  height: 21px;
  width: 4px;

  @include mixins.tablet-and-down() {
    margin-right: 8px;
  }
}
.cardRowLeftBorder.dark-green{
  background-color: var(--dark-green);
}
.cardRowLeftBorder.light-blue{
  background-color: var(--light-blue);
}
.cardRowLeftBorder.beige{
  background-color: var(--beige);
}
.cardRowLeftBorder.dark-grey{
  background-color: var(--dark-grey);
}

.cardRowTitle {
  flex-grow: 1;
  flex-shrink: 1;
  font-size: 14px;
  color: var(--text-grey);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @include mixins.phone() {
    font-size: 12px;
  }
}

.cardRowTitleCurrentAmount {
  margin-right: 8px;
  font-size: 16px;
  font-weight: 600;
  color: var(--text-dark);

  @include mixins.tablet-and-down() {
    margin-right: 0;
    display: flex;
    justify-content: flex-end;
  }

  @include mixins.phone() {
    font-size: 14px;
  }
}

.cardRowTitleMaxAmount {
  font-size: 14px;
  color: var(--text-grey);
  white-space: nowrap;

  @include mixins.phone() {
    font-size: 12px;
  }
}