@use '../../../styles/colors';
@use '../../../styles/fonts';
@use '../../../styles/functions';
@use '../../../styles/screens';
@use '../../../styles/spaces';

.budgetsDiagramCardRow {
  display: flex;
  flex-direction: row;
  align-items: center;

  @include screens.tablet-and-down {
    display: grid;
    grid-template-columns: auto 1fr functions.to-rem(70px) functions.to-rem(70px);
    column-gap: spaces.$spaceS;
    align-items: center;
  }

  @include screens.phone {
    display: grid;
    grid-template-columns: auto 1fr functions.to-rem(60px) functions.to-rem(60px);
    column-gap: spaces.$spaceS;
    align-items: center;
  }
}

.cardRowLeftBorder{
  margin-right: spaces.$spaceM;
  border-radius: spaces.$radiusS;
  height: functions.to-rem(21px);
  width: functions.to-rem(4px);

  @include screens.tablet-and-down {
    margin-right: spaces.$spaceS;
  }

  &.green{
    background-color: colors.$green;
  }

  &.yellow{
    background-color: colors.$yellow;
  }

  &.cyan{
    background-color: colors.$cyan;
  }

  &.navy{
    background-color: colors.$navy;
  }

  &.red{
    background-color: colors.$red;
  }

  &.purple{
    background-color: colors.$purple;
  }

  &.turquoise{
    background-color: colors.$turquoise;
  }

  &.brown{
    background-color: colors.$brown;
  }

  &.brown{
    background-color: colors.$brown;
  }

  &.magenta{
    background-color: colors.$magenta;
  }

  &.blue{
    background-color: colors.$blue;
  }

  &.grey{
    background-color: colors.$navy-grey;
  }

  &.army{
    background-color: colors.$army-green;
  }

  &.pink{
    background-color: colors.$pink;
  }

  &.gold{
    background-color: colors.$gold;
  }

  &.orange{
    background-color: colors.$orange;
  }

  &.sepia{
    background-color: colors.$beige-100;
  }

  &.white{
    background-color: colors.$white;
  }

  &.black{
    background-color: colors.$black;
  }
}

.cardRowTitle {
  flex-grow: 1;
  flex-shrink: 1;
  font-size: 14px;
  color: colors.$grey-500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @include screens.phone {
    font-size: 12px;
  }
}

.cardRowTitleCurrentAmount {
  margin-right: 8px;
  font-size: 16px;
  font-weight: 600;
  color: colors.$grey-900;

  @include screens.tablet-and-down {
    margin-right: 0;
    display: flex;
    justify-content: flex-end;
  }

  @include screens.phone {
    font-size: 14px;
  }
}

.cardRowTitleMaxAmount {
  font-size: 14px;
  color: colors.$grey-500;
  white-space: nowrap;

  @include screens.phone {
    font-size: 12px;
  }
}