@use '../../../styles/colors';
@use '../../../styles/fonts';
@use '../../../styles/functions';
@use '../../../styles/spaces';

.dropdownCategoryListItem {
  border-radius: spaces.$radiusS;
  padding: functions.to-rem(13px) functions.to-rem(22px) functions.to-rem(11px);
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;

  @include fonts.text-preset-4;

  &.disabled {
    opacity: 0.4;
    pointer-events: none;
  }

  &:hover, &:focus {
    background-color: colors.$component-background-light;
    color: colors.$white-0;
    outline: none;
  }
}

.dropdownCategoryListItemContainer.disabled {
  cursor: not-allowed;
}

.dropdownCategoryListItemLabel {
  flex-grow: 1;
  cursor: pointer;
}