@use '../../../styles/colors';
@use '../../../styles/fonts';
@use '../../../styles/functions';
@use '../../../styles/spaces';

.dropdownCategoryBar {
  border-radius: spaces.$spaceS;
  border: 1px solid colors.$beige-500;
  padding: functions.to-rem(11px) functions.to-rem(50px) functions.to-rem(13px) spaces.$spaceML;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  height: auto;
  cursor: pointer;
  position: relative;

  @include fonts.text-preset-4;

  &.disabled {
    cursor: not-allowed;
  }

  &:hover, &:focus-visible {
    border: 1px solid var(colors.$grey-900);
    transition: border 0.1s ease;
    outline: none;
  }
}

.DropdownCategoryBarContainer {
  margin-bottom: spaces.$spaceM;
}

.dropdownCategoryBarItem.disabled {
  opacity: 0.4;
  pointer-events: none;
}

.dropdownCategoryBarItemLabel {
  flex-grow: 1;
  cursor: pointer;
}

.dropdownCategoryIcon {
  top: calc(50% - 3px);
  right: functions.to-rem(21px);
  position: absolute;
}

.dropdownCategoryValidation {
  margin-left: spaces.$spaceS;
  color: colors.$red;
  display: none;

  @include fonts.text-preset-5;

  &.visible {
    display: block;
  }
}