@use '../../../styles/colors';
@use '../../../styles/functions';
@use '../../../styles/spaces';

$category-list-element-height: functions.to-rem(40px);
$category-list-max-height: functions.to-rem(460px);

$transition-duration: 0.1s;

.dropdownCategoryContainer {
  position: relative;
}

.dropdownCategoryList {
  border-radius: spaces.$radiusS;
  box-shadow: 0 5px 40px -25px colors.$grey-900;
  background-color: colors.$white-0;
  display: flex;
  flex-direction: column;
  max-height: $category-list-element-height;
  width: calc(100% + 2px);
  top: -1px;
  left: -1px;
  position: absolute;
  z-index: 4;
  cursor: pointer;
  visibility: hidden;
  overflow: hidden;
  transition: max-height $transition-duration ease, visibility $transition-duration ease;

  &.isOpen {
    max-height: $category-list-max-height;
    visibility: visible;
  }
}

.dropdownCategoryListEntry {
  display: flex;
  flex-direction: column;
}

.dropdownCategoryListLine {
  margin: 0 spaces.$spaceML;
  width: calc(100% - 40px);

  &.disabled {
    cursor: not-allowed;
  }
}
