@use '../styles/colors';
@use '../styles/spaces';

.showcase {
  padding: spaces.$spaceXL spaces.$spaceXXL;
  display: flex;
  flex-direction: column;
  gap: spaces.$spaceML;
}

.showcaseContent {
  padding-left: spaces.$spaceXL;
  display: flex;
  flex-direction: column;
  gap: spaces.$spaceXL;
}

.showcaseContentLink  {
  color: inherit;

  &:hover  {
    color: colors.$grey-500;
  }
}
