@use '../../styles/screens';

.transactionsDetails {
  border-radius: spaces.$radiusMS;
  background-color: colors.$white-0;
  padding: 32px;
  height: 100%;
  display: grid;
  grid-template-rows: fit-content(100%) 1fr fit-content(100%);
  row-gap: 23px;

  @include screens.phone {
    padding: 24px 20px;
  }
}