@use '../styles/screens';

.billsPage {
  background-color: var(--);
  height: 100%;
  padding: 32px 40px;
  display: flex;
  flex-direction: column;
  row-gap: 32px;

  @include screens.phone {
    padding: 24px 16px;
  }
}

.billsPageDetails {
  display: grid;
  grid-template-columns: calc(33% - 24px) 67%;
  column-gap: 24px;

  @include mixins.tablet-and-down(250) {
    grid-template-columns: 1fr;
    row-gap: 24px;
  }
}

.billsPageDetailsOverview {
  display: flex;
  flex-direction: column;
  row-gap: 24px;

  @include mixins.tablet-and-down(250) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
  }

  @include screens.phone {
    display: flex;
    flex-direction: column;
  }
}