@use '../styles/screens';
@use '../styles/spaces';

.billsPage {
  height: 100%;
  max-width: 100%;
  padding: spaces.$spaceXL spaces.$spaceXXL;
  display: flex;
  flex-direction: column;
  row-gap: spaces.$spaceXL;

  @include screens.phone {
    padding: spaces.$spaceL spaces.$spaceM;
  }
}

.billsPageDetails {
  max-width: 100%;
  display: grid;
  grid-template-columns: calc(33% - 24px) 67%;
  column-gap: spaces.$spaceL;

  @include screens.tablet-and-down(250) {
    grid-template-columns: 1fr;
    row-gap: spaces.$spaceL;
  }
}

.billsPageDetailsOverview {
  display: flex;
  flex-direction: column;
  row-gap: spaces.$spaceL;

  @include screens.tablet-and-down(250) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: spaces.$spaceL;
  }

  @include screens.phone {
    display: flex;
    flex-direction: column;
  }
}