@use '../styles/mixins';

.budgetsDetails {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  column-gap: 24px;
  row-gap: 24px;

  @include mixins.tablet-and-down() {
    grid-template-columns: 1fr;
  }
}

.budgetsDetailsRight {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.budgetsPage {
  padding: 32px 40px;
  display: flex;
  flex-direction: column;
  row-gap: 32px;

  @include mixins.phone() {
    padding: 24px 16px;
  }
}


//backgroundOverlay
.backgroundOverlay{
  background-color: rgb(0,0,0,0.5);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 3;
}
.backgroundOverlay.isHidden {
  display: none;
}

//formOverlay
.formOverlay{
  border-radius: 12px;
  background-color: var(--component-background-bright);
  padding: 32px;
  height: auto;
  width: 560px;
  bottom: calc(50% - 245px);
  left: calc(50% - 280px);
  position: fixed;
  z-index: 4;
}
.formOverlay.isHidden {
  display: none;
}

.formOverlayContent {
  display: flex;
  flex-direction: column;
}

.formOverlayHeaderBar {
  display: flex;
  flex-direction: row;
}

.formOverlayHeaderBarIcon {
  padding: 6px;
  cursor: pointer;
}
.formOverlayHeaderBarIcon:hover {
  filter: invert(74%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%);
}
.formOverlayHeaderBarIcon:focus-visible {
  border-radius: 8px;
  border: 2px solid var(--text-dark);
  padding: 4px;
  filter: invert(74%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%);
  outline: none;
}

.formOverlayHeaderBarTitle{
  margin: 0;
  height: auto;
  flex-grow: 1;
  font-size: 32px;
}

.formOverlayHeaderText {
  margin: 20px 0;
  line-height: 1.5;
  font-size: 14px;
  color: var(--text-grey);
}

.formOverlaySubmit {
  border: 0;
  border-radius: 8px;
  background-color: var(--component-background-dark);
  padding: 16px;
  width: 100%;
  font-weight: 600;
  color: var(--text-white);
  cursor: pointer;
}
.formOverlaySubmit:hover {
  background-color: var(--component-background-grey);
  transition: background-color 0.1s ease;
}
.formOverlaySubmit:focus-visible {
  border: 2px solid var(--text-dark);
  padding: 14px;
  background-color: var(--component-background-grey);
  transition: background-color 0.1s ease;
  outline: none;
}

//fieldTitle
.fieldTitle {
  margin-bottom: 8px;
  font-size: 13px;
  font-weight: 600;
  color: var(--text-grey);
}

//dropdownCategory
.dropdownCategory {
  margin-bottom: 16px;
  border: 1px solid var(--component-background-grey);
  padding: 12px 20px;
  border-radius: 8px;
  height: auto;
  font-size: 14px;
  cursor: pointer;
  position: relative;
}
.dropdownCategory:hover {
  border: 1px solid var(--component-background-dark);
  transition: border 0.2s ease;
}
.dropdownCategory:focus-visible {
  border: 1px solid var(--component-background-dark);
  transition: border 0.2s ease;
  outline: none;
}

.dropdownCategoryIcon {
  top: calc(50% - 3px);
  right: 26px;
  position: absolute;
}

.dropdownCategoryList {
  top: 0;
  left: 0;
  position: absolute;
  visibility: hidden;
}
.dropdownCategoryList.isOpen {
  visibility: visible;
}

//inputMoney
.inputMoney {
  margin-bottom: 16px;
  border: 1px solid var(--component-background-grey);
  padding: 12px 20px;
  border-radius: 8px;
}
.inputMoney:hover {
  border: 1px solid var(--component-background-dark);
  transition: border 0.1s ease;
}
.inputMoney:focus {
  border: 1px solid var(--component-background-dark);
  transition: border 0.1s ease;
  outline: none;
}

//dropdownColor
.dropdownColor {
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid var(--component-background-grey);
  padding: 12px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  height: auto;
  font-size: 14px;
  cursor: pointer;
  position: relative;
}
.dropdownColor:hover {
  border: 1px solid var(--component-background-dark);
  transition: border 0.1s ease;
}
.dropdownColor:focus-visible {
  border: 1px solid var(--component-background-dark);
  transition: border 0.1s ease;
  outline: none;
}

.dropdownColorCircle {
  margin-right: 12px;
  border-radius: 50%;
  background-color: var(--dark-green);
  height: 16px;
  width: 16px;
}

.dropdownColorIcon {
  top: calc(50% - 3px);
  right: 26px;
  position: absolute;
}