@use '../styles/screens';

.budgetsDetails {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  column-gap: 24px;
  row-gap: 24px;

  @include screens.tablet-and-down {
    grid-template-columns: 1fr;
  }
}

.budgetsDetailsRight {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.budgetsPage {
  padding: 32px 40px;
  display: flex;
  flex-direction: column;
  row-gap: 32px;

  @include screens.phone {
    padding: 24px 16px;
  }
}
