.budgetsDetails {
  display: grid;
  grid-template-columns: 40% calc(60% - 24px);
  column-gap: 24px;
}

.budgetsDetailsRight {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.budgetsPage {
  padding: 32px 40px;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}