@use '../styles/functions';
@use '../styles/screens';
@use '../styles/spaces';

$details-min-width: functions.to-rem(480px);

.overviewPage {
  padding: spaces.$spaceXL spaces.$spaceXXL;
  width: 100%;

  @include screens.phone {
    padding: spaces.$spaceL spaces.$spaceM;
  }
}

.overviewPageDetails {
  display: grid;
  grid-template-columns: repeat(auto-fit, (minmax($details-min-width, 1fr)));
  column-gap: spaces.$spaceL;
  row-gap: spaces.$spaceL;

  @include screens.tablet-and-down {
    grid-template-columns: 1fr;
  }
}

.overviewPageDetailsLeft {
  display: grid;
  grid-template-rows: repeat(2, auto);
  row-gap: spaces.$spaceL;
}

.overviewPageDetailsRight {
  display: grid;
  grid-template-rows: fit-content(100%) auto;
  row-gap: spaces.$spaceL;
}