@use '../styles/screens';

.overviewPage {
  padding: 32px 40px;
  width: 100%;

  @include mixins.phone(){
    padding: 24px 16px;
  }
}

.overviewPageDetails {
  display: grid;
  grid-template-columns: repeat(auto-fit, (minmax(480px, 1fr)));
  column-gap: 24px;
  row-gap: 24px;

  @include mixins.tablet-and-down() {
    grid-template-columns: 1fr;
  }
}

.overviewPageDetailsLeft {
  display: grid;
  grid-template-rows: repeat(2,auto);
  row-gap: 24px;
}

.overviewPageDetailsRight {
  display: grid;
  grid-template-rows: fit-content(100%) auto;
  row-gap: 24px;
}