@use '../styles/screens';
@use '../styles/spaces';

.potsPage {
  padding: spaces.$spaceXL spaces.$spaceXXL;
  display: flex;
  flex-direction: column;
  row-gap: spaces.$spaceXL;

  @include screens.phone {
    padding: spaces.$spaceL spaces.$spaceM;
  }
}