@use '../styles/screens';
@use '../styles/spaces';

.transactionsPage {
  padding: spaces.$spaceXL spaces.$spaceXXL;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: spaces.$spaceL;

  @include screens.phone {
    padding: spaces.$spaceL spaces.$spaceM;
  }
}
