@use './styles/mixins';

.content {
  height: auto;

  @include mixins.tablet-and-down() {
    padding-bottom: 81px;
  }
}

.webapp {
  background-color: var(--page-background);
  height: auto;
  display: grid;
  grid-template-columns: fit-content(100%) 1fr;

  @include mixins.tablet-and-down() {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
  }
}