@use 'styles/colors';
@use 'styles/functions';
@use 'styles/screens';

$custom-space-sidebar: functions.to-rem(300px);
$custom-space-sidebar-minimized: functions.to-rem(90px);
$custom-space-sidebar-tablet: functions.to-rem(81px);

$transition-duration: 0.4s;

.content {
  padding-left: $custom-space-sidebar;
  height: auto;
  max-width: 100%;
  transition: padding $transition-duration ease;

  @include screens.tablet-and-down(50) {
    transition: padding 0s ease;
  }

  @include screens.tablet-and-down {
    padding-bottom: $custom-space-sidebar-tablet;
    padding-left: 0;
  }

  &.minimized {
    padding-left: $custom-space-sidebar-minimized;

    @include screens.tablet-and-down {
      padding-bottom: $custom-space-sidebar-tablet;
      padding-left: 0;
    }
  }

  &.hidden {
    padding: 0;
    transition: none;
  }
}

.webapp {
  background-color: colors.$beige-100;
  height: auto;
  max-width: 100%;
  min-height: calc(100vh - 14px);
  position: relative;

  @include screens.tablet-and-down {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
  }
}
