:root {
  @font-face {
    font-family: 'Public Sans';
    src: url('assets/fonts/PublicSans-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900; /* Variable Font unterstützt Gewichtung von 100 bis 900 */
    font-style: normal;
  }

  @font-face {
    font-family: 'Public Sans';
    src: url('assets/fonts/PublicSans-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
  }

  font-family: 'Public Sans', sans-serif;
  font-weight: normal;

  --sidebar-background-grey: #201F24;
  --sidebar-title: #FFFFFF;
  --sidebar-entry-text-default: #B3B3B3;
  --sidebar-entry-text-selected: #201F24;
  --sidebar-entry-icon-selected: #277C78;
  --sidebar-entry-selected-background: #F8F4F0;
}

* {
  box-sizing: border-box;
}