:root {
  @font-face {
    font-family: 'Public Sans';
    src: url('assets/fonts/PublicSans-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900; /* Variable Font unterstützt Gewichtung von 100 bis 900 */
    font-style: normal;
  }

  @font-face {
    font-family: 'Public Sans';
    src: url('assets/fonts/PublicSans-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
  }

  font-family: 'Public Sans', sans-serif;
  font-weight: normal;

  --sidebar-background-grey: #201F24;
  --sidebar-title: #FFFFFF;
  --sidebar-entry-text-default: #B3B3B3;
  --sidebar-entry-text-selected: #201F24;
  --sidebar-entry-icon-selected: #277C78;
  --sidebar-entry-selected-background: #F8F4F0;

  --page-background: #F8F4F0;
  --component-background-dark: #201F24;
  --component-background-bright: #FFFFFF;

  --text-dark: #201F24;
  --text-green: #277C78;
  --text-grey: #696868;
  --text-white: #FFFFFF;

  --beige: #F2CDAC;
  --dark-green: #277C78;
  --dark-grey: #626070;
  --light-blue: #82C9D7;

  --beige-lightened: #F8DDC3;
  --dark-green-lightened: #51A39E;
  --dark-grey-lightened: #918F9A;
  --light-blue-lightened: #A3DCE5;

  --horizontal-line: #F2F2F2;
}

* {
  box-sizing: border-box;
}