.overviewBillsRow {
  border-radius: 8px;
  background-color: colors.$beige-100;
  padding: 20px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.overviewBillsRow.yellow {
  border-left: 4px solid colors.$yellow;
}
.overviewBillsRow.green {
  border-left: 4px solid colors.$green;
}
.overviewBillsRow.cyan {
  border-left: 4px solid colors.$cyan;
}

.overviewBillsRowTitle {
  flex-grow: 1;
  font-size: 15px;
  color: colors.$grey-500;
}

.overviewBillsRowValue {
  font-size: 14px;
  font-weight: 600;
  color: colors.$grey-900;
}