@use '../../../styles/colors';
@use '../../../styles/fonts';
@use '../../../styles/functions';
@use '../../../styles/spaces';

$border-thickniss-left: functions.to-rem(4px);

.overviewBillsRow {
  border-radius: spaces.$radiusS;
  background-color: colors.$beige-100;
  padding: spaces.$spaceML spaces.$spaceM;
  display: flex;
  flex-direction: row;
  align-items: center;

  &.yellow {
    border-left: $border-thickniss-left solid colors.$yellow;
  }

  &.green {
    border-left: $border-thickniss-left solid colors.$green;
  }

  &.cyan {
    border-left: $border-thickniss-left solid colors.$cyan;
  }
}

.overviewBillsRowTitle {
  flex-grow: 1;
  color: colors.$grey-500;

  @include fonts.text-preset-4;
}

.overviewBillsRowValue {
  color: colors.$grey-900;

  @include fonts.text-preset-4-bold;
}