@use '../../../styles/colors';
@use '../../../styles/screens';
@use '../../../styles/spaces';

.overviewBills {
  border-radius: spaces.$radiusMS;
  background-color: colors.$white-0;
  padding: spaces.$spaceXL;
  display: flex;
  flex-direction: column;
  row-gap: spaces.$spaceXL;

  @include screens.phone {
    padding: spaces.$spaceL spaces.$spaceML;
  }
}

.overviewBillsContent {
  height: 100%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  row-gap: spaces.$spaceMS;
}