@use '../../../styles/screens';

.overviewBills {
  border-radius: spaces.$radiusMS;
  background-color: colors.$white-0;
  padding: 32px;
  display: flex;
  flex-direction: column;
  row-gap: 32px;

  @include screens.phone{
    padding: 24px 20px;
  }
}

.overviewBillsContent {
  height: 100%;
  display: grid;
  grid-template-rows: repeat(3,1fr);
  row-gap: 12px;
}