@use '../../../styles/mixins';

.overviewBills {
  border-radius: 12px;
  background-color: var(--component-background-bright);
  padding: 32px;
  display: flex;
  flex-direction: column;
  row-gap: 32px;

  @include mixins.phone(){
    padding: 24px 20px;
  }
}

.overviewBillsContent {
  height: 100%;
  display: grid;
  grid-template-rows: repeat(3,1fr);
  row-gap: 12px;
}