@use '../../../styles/colors';
@use '../../../styles/fonts';
@use '../../../styles/functions';
@use '../../../styles/spaces';

$table-row-image-height: functions.to-rem(40px);

.tableRowCategory {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tableRowPartner {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tableRowPartnerImage {
  margin-right: spaces.$spaceM;
  border-radius: 50%;
  height: $table-row-image-height;
  width: auto;
}

.tableRowPartnerName {
  color: colors.$grey-900;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @include fonts.text-preset-4-bold;
}

.tableRowValue {
  display: flex;
  justify-content: flex-end;
  color: colors.$grey-900;

  @include fonts.text-preset-4-bold;

  &.black {
    color: colors.$grey-900;
  }

  &.green {
    color: colors.$green;
  }
}

.transactionsTableLine {
  margin: spaces.$spaceMS 0;
}

.transactionsTableRow {
  padding: 0 spaces.$spaceM;
  display: grid;
  grid-template-columns: calc(48% - 32px) calc(19% - 32px) calc(20% - 32px) 13%;
  column-gap: spaces.$spaceXL;
  align-items: center;
  color: colors.$grey-500;

  @include fonts.text-preset-4;
}