.tableRowCategory {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tableRowPartner {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tableRowPartnerImage {
  margin-right: 16px;
  border-radius: 50%;
  height: 40px;
  width: auto;
}

.tableRowPartnerName {
  font-weight: 700;
  color: colors.$grey-900;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tableRowValue {
  display: flex;
  justify-content: flex-end;
  font-weight: 700;
  color: colors.$grey-900;
}
.tableRowValue.black {
  color: colors.$grey-900;
}
.tableRowValue.green {
  color: colors.$green;
}

.transactionsTableLine {
  margin: 12px 0;
}

.transactionsTableRow {
  padding: 0 16px;
  display: grid;
  grid-template-columns: calc(48% - 32px) calc(19% - 32px) calc(20% - 32px) 13%;
  column-gap: 32px;
  align-items: center;
  font-size: 13px;
  color: colors.$grey-500;
}