.tableRowSmallCategory {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tableRowSmallDate {
  display: flex;
  justify-content: flex-end;
}

.tableRowSmallNameCategoryWrapper {
  min-width: 0;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  row-gap: 8px;
}

.tableRowSmallPartner {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tableRowSmallPartnerImage {
  border-radius: 50%;
  height: 32px;
  width: auto;
}

.tableRowSmallPartnerName {
  flex-shrink: 1;
  font-weight: 700;
  color: colors.$grey-900;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tableRowSmallValue {
  display: flex;
  justify-content: flex-end;
  font-weight: 700;
  color: colors.$grey-900;
}
.tableRowSmallValue.black {
  color: colors.$grey-900;
}
.tableRowSmallValue.green {
  color: colors.$green;
}

.tableRowSmallValueDateWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.transactionsTableRowSmall {
  display: grid;
  grid-template-columns: 32px calc(100% - 136px) 80px;
  column-gap: 12px;
  align-items: center;
  font-size: 13px;
  color: colors.$grey-500;
}