@use '../../../styles/colors';
@use '../../../styles/fonts';
@use '../../../styles/functions';
@use '../../../styles/spaces';

$custom-space-table-column-width: functions.to-rem(80px);
$table-row-image-height: functions.to-rem(32px);

.tableRowSmallCategory {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tableRowSmallDate {
  display: flex;
  justify-content: flex-end;
}

.tableRowSmallNameCategoryWrapper {
  min-width: 0;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  row-gap: spaces.$spaceS;
}

.tableRowSmallPartner {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tableRowSmallPartnerImage {
  border-radius: 50%;
  height: $table-row-image-height;
  width: auto;
}

.tableRowSmallPartnerName {
  flex-shrink: 1;
  color: colors.$grey-900;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @include fonts.text-preset-5-bold;
}

.tableRowSmallValue {
  display: flex;
  justify-content: flex-end;
  color: colors.$grey-900;

  @include fonts.text-preset-5-bold;

  &.black {
    color: colors.$grey-900;
  }

  &.green {
    color: colors.$green;
  }
}

.tableRowSmallValueDateWrapper {
  display: flex;
  flex-direction: column;
  row-gap: spaces.$spaceS;
}

.transactionsTableRowSmall {
  display: grid;
  grid-template-columns: spaces.$spaceXL calc(100% - 136px) $custom-space-table-column-width;
  column-gap: spaces.$spaceMS;
  align-items: center;
  color: colors.$grey-500;

  @include fonts.text-preset-5;
}