@use '../../../styles/colors';
@use '../../../styles/fonts';
@use '../../../styles/spaces';

.transactionsTableHeader {
  padding: spaces.$spaceMS spaces.$spaceM 0;
  display: grid;
  grid-template-columns: calc(48% - 32px) calc(19% - 32px) calc(20% - 32px) 13%;
  column-gap: spaces.$spaceXL;
  color: colors.$grey-500;

  @include fonts.text-preset-4;
}

.tableColumnAmount {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
