.cardHeaderDropdownItem {
  border-radius: 8px;
  padding: 12px 20px;
  font-size: 14px;
}
.cardHeaderDropdownItem.black {
  color: var(--black);
}
.cardHeaderDropdownItem.red {
  color: var(--red);
}
.cardHeaderDropdownItem:hover, .cardHeaderDropdownItem:focus {
  background-color: var(--component-background-light);
  color: var(--text-white);
  outline: none;
}

.cardHeaderDropdownItemLabel {
  text-wrap: nowrap;
  cursor: pointer;
}