@use '../../styles/colors';

.inputMoney {
  position: relative;
}

.inputMoneyContainer {
  margin-bottom: 16px;
}

.inputMoneyIcon {
  position: absolute;
  top: calc(50% - 9px);
  left: 20px;
  font-size: 14px;
  color: var(--grey-300);
}
.inputMoneyIcon.active {
  color: var(--grey-900);
}

.inputMoneyInput {
  border: 1px solid var(--beige-500);
  padding: 12px 20px 12px 40px;
  border-radius: 8px;
  width: 100%;
}
.inputMoneyInput:hover {
  border: 1px solid var(colors.$grey-900);
  transition: border 0.1s ease;
  outline: none;
}
.inputMoneyInput:focus {
  border: 1px solid var(colors.$grey-900);
  transition: border 0.1s ease;
  outline: none;
}
.inputMoneyInput::placeholder {
  color: var(--grey-300);
}

.inputMoneyValidation {
  margin-left: 8px;
  font-size: 12px;
  color: var(--red);
  display: block;
}