@use '../../styles/colors';
@use '../../styles/spaces';
@use '../../styles/text';

.overlayContentLabel {
  margin-bottom: spaces.$spaceXS;
  display: block;
  color: colors.$grey-500;

  @include text.text-preset-5-bold;
}