@use '../../styles/colors';
@use '../../styles/spaces';
@use '../../styles/fonts';

.potCardButton {
  border: 0;
  border-radius: spaces.$spaceS;
  background-color: colors.$beige-100;
  padding: spaces.$spaceM;
  color: colors.$grey-900;
  cursor: pointer;
  white-space: nowrap;

  @include text.text-preset-4-bold;
}
.potCardButton:hover {
  background-color: colors.$component-background-light;
  color: colors.$white-0;
  transition: background-color 0.2s ease, color 0.2s ease;
}
.potCardButton:focus-visible {
  border-radius: spaces.$spaceXS;
  box-shadow: 0 0 0 2px colors.$grey-900;
  background-color: colors.$component-background-light;
  color: colors.$white-0;
  transition: background-color 0.2s ease, color 0.2s ease;
  outline: none;
}

.potCardButtons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: spaces.$spaceM;
}