@use '../../styles/colors';
@use '../../styles/fonts';
@use '../../styles/functions';
@use '../../styles/screens';
@use '../../styles/spaces';

$pot-card-bar-heigt: functions.to-rem(8px);

.potCardDetailsPercentCurrent {
  color: colors.$grey-500;

  @include fonts.text-preset-5;
}

.potCardDetailsPercentTotal {
  color: colors.$grey-500;

  @include fonts.text-preset-5;
}

.potCardDetailsTotal {
  display: flex;
  align-items: center;
}

.potCardDetailsTotalAmount {
  @include fonts.text-preset-1;

  @include screens.phone {
    @include fonts.text-preset-2;
  }
}

.potCardDetailsTotalLabel {
  flex-grow: 1;
  color: colors.$grey-500;

  @include fonts.text-preset-4;
}

.potCardBarCurrent {
  border-radius: spaces.$radiusXS;
  background-color: colors.$green;
  height: $pot-card-bar-heigt;
  width: var(--barCurrentWidthPercent);
  max-width: 100%;
  top: calc(50% - 4px);
  position: absolute;

  &.green{
    background-color: colors.$green;
  }

  &.cyan{
    background-color: colors.$cyan;
  }

  &.yellow{
    background-color: colors.$yellow;
  }

  &.navy{
    background-color: colors.$navy;
  }

  &.purple{
    background-color: colors.$purple;
  }
}

.potCardBarMax {
  margin: spaces.$spaceM 0;
  border-radius: spaces.$radiusXS;
  background-color: colors.$beige-100;
  height: $pot-card-bar-heigt;
  position: relative;
}

.potCardDetailsPercent {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.potCardDetailsPercentCurrent {
  flex-grow: 1;
}
