@use '../../styles/mixins';

.potCard {
  border-radius: 12px;
  background-color: var(--component-background-bright);
  padding: 24px;
  display: flex;
  flex-direction: column;
  row-gap: 32px;

  @include mixins.phone() {
    padding: 16px;
    min-width: 0;
  }
}

.potCardButton {
  border: 0;
  border-radius: 8px;
  background-color: var(--page-background);
  padding: 16px;
  font-weight: 600;
  color: var(--text-dark);
  cursor: pointer;
  white-space: nowrap;
}
.potCardButton:hover {
  background-color: var(--component-background-light);
  color: var(--text-white);
  transition: background-color 0.2s ease, color 0.2s ease;
}
.potCardButton:focus-visible {
  border-radius: 4px;
  box-shadow: 0 0 0 2px var(--component-background-dark);
  background-color: var(--component-background-light);
  color: var(--text-white);
  transition: background-color 0.2s ease, color 0.2s ease;
  outline: none;
}

.potCardButtons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 16px;
}