@use '../../styles/colors';
@use '../../styles/spaces';
@use '../../styles/fonts';

$transition-duration: 0.2s;

.potCardButton {
  border: 0;
  border-radius: spaces.$spaceS;
  background-color: colors.$beige-100;
  padding: spaces.$spaceM;
  color: colors.$grey-900;
  cursor: pointer;
  white-space: nowrap;

  @include fonts.text-preset-4-bold;

  &:hover {
    background-color: colors.$component-background-light;
    color: colors.$white-0;
    transition: background-color $transition-duration ease, color $transition-duration ease;
  }

  &:focus-visible {
    border-radius: spaces.$spaceXS;
    box-shadow: 0 0 0 2px colors.$grey-900;
    background-color: colors.$component-background-light;
    color: colors.$white-0;
    transition: background-color $transition-duration ease, color $transition-duration ease;
    outline: none;
  }
}

.potCardButtons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: spaces.$spaceM;
}