@use '../../styles/functions';
@use '../../styles/screens';
@use '../../styles/spaces';

$pot-card-min-width: functions.to-rem(350px);

.potPageGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, (minmax($pot-card-min-width, 1fr)));
  column-gap: spaces.$spaceL;
  row-gap: spaces.$spaceL;

  @include screens.phone {
    grid-template-columns: repeat(auto-fit, (minmax($pot-card-min-width, 1fr)));
  }
}
