@use '../../styles/screens';

.potPageGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, (minmax(350px, 1fr)));
  column-gap: 24px;
  row-gap: 24px;

  @include screens.phone {
    grid-template-columns: repeat(auto-fit, (minmax(270px, 1fr)));
  }
}