.overviewHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.overviewHeaderLink{
  padding: 4px;
  font-size: 14px;
  text-decoration: none;
  color: var(--text-grey);
}
.overviewHeaderLink:hover{
  color: var(--text-dark);
}
.overviewHeaderLink:focus{
  border-radius: 4px;
  box-shadow: 0 0 0 2px var(--component-background-dark);
  color: var(--text-dark);
  outline: none;
}

.overviewHeaderLink svg{
  margin-left: 12px;
}

.overviewHeaderTitle {
  margin: 0;
  flex-grow: 1;
  font-size: 20px;
}