.overviewHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.overviewHeaderLink{
  padding: 4px;
  font-size: 14px;
  text-decoration: none;
  color: colors.$grey-500;
}
.overviewHeaderLink:hover{
  color: colors.$grey-900;
}
.overviewHeaderLink:focus{
  border-radius: 4px;
  box-shadow: 0 0 0 2px colors.$grey-900;
  color: colors.$grey-900;
  outline: none;
}

.overviewHeaderLink svg{
  margin-left: 12px;
}

.overviewHeaderTitle {
  margin: 0;
  flex-grow: 1;
  font-size: 20px;
}