@use '../../styles/colors';
@use '../../styles/fonts';
@use '../../styles/spaces';

.overviewHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.overviewHeaderLink {
  padding: spaces.$spaceXS;
  text-decoration: none;
  color: colors.$grey-500;

  @include fonts.text-preset-5;

  &:hover {
    color: colors.$grey-900;
  }

  &:focus {
    border-radius: spaces.$radiusXS;
    box-shadow: 0 0 0 2px colors.$grey-900;
    color: colors.$grey-900;
    outline: none;
  }
}

.overviewHeaderLink svg {
  margin-left: spaces.$spaceMS;
}

.overviewHeaderTitle {
  margin: 0;
  flex-grow: 1;

  @include fonts.text-preset-2;
}