@use '../../styles/mixins';

.valueBox {
  display: flex;
  flex-direction: row;
  column-gap: 16px;
}

.valueBoxBorder {
  border-radius: 8px;
  height: 100%;
  width: 4px;
}
.valueBoxBorder.green{
  background-color: var(--green);
}
.valueBoxBorder.yellow{
  background-color: var(--yellow);
}
.valueBoxBorder.cyan{
  background-color: var(--cyan);
}
.valueBoxBorder.navy{
  background-color: var(--navy);
}
.valueBoxBorder.red{
  background-color: var(--red);
}
.valueBoxBorder.purple{
  background-color: var(--purple);
}
.valueBoxBorder.turquoise{
  background-color: var(--turquoise);
}
.valueBoxBorder.brown{
  background-color: var(--brown);
}
.valueBoxBorder.brown{
  background-color: var(--brown);
}
.valueBoxBorder.magenta{
  background-color: var(--magenta);
}
.valueBoxBorder.blue{
  background-color: var(--blue);
}
.valueBoxBorder.grey{
  background-color: var(--grey);
}
.valueBoxBorder.army{
  background-color: var(--army);
}
.valueBoxBorder.pink{
  background-color: var(--pink);
}
.valueBoxBorder.gold{
  background-color: var(--gold);
}
.valueBoxBorder.orange{
  background-color: var(--orange);
}
.valueBoxBorder.sepia{
  background-color: var(--sepia);
}
.valueBoxBorder.white{
  background-color: var(--white);
}
.valueBoxBorder.black{
  background-color: var(--black);
}

.valueBoxContent {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.valueBoxContentTitle {
  margin: 2px 0;
  font-size: 13px;
  font-weight: 300;
  color: var(--text-grey);

  @include mixins.phone() {
    font-size: 12px;
  }
}

.valueBoxContentValue {
  margin: 2px 0;
  font-size: 14px;
  font-weight: 700;

  @include mixins.phone() {
    font-size: 12px;
  }
}