@use '../../styles/colors';
@use '../../styles/fonts';
@use '../../styles/functions';
@use '../../styles/screens';
@use '../../styles/spaces';

$value-box-border-width: functions.to-rem(4px);

.valueBox {
  display: flex;
  flex-direction: row;
  column-gap: spaces.$spaceM;
}

.valueBoxBorder {
  border-radius: spaces.$radiusS;
  height: 100%;
  width: $value-box-border-width;

  &.green{
    background-color: colors.$green;
  }

  &.yellow{
    background-color: colors.$yellow;
  }

  &.cyan{
    background-color: colors.$cyan;
  }

  &.navy{
    background-color: colors.$navy;
  }

  &.red{
    background-color: colors.$red;
  }

  &.purple{
    background-color: colors.$purple;
  }

  &.turquoise{
    background-color: colors.$turquoise;
  }

  &.brown{
    background-color: colors.$brown;
  }

  &.brown{
    background-color: colors.$brown;
  }

  &.magenta{
    background-color: colors.$magenta;
  }

  &.blue{
    background-color: colors.$blue;
  }

  &.grey{
    background-color: colors.$navy-grey;
  }

  &.army{
    background-color: colors.$army-green;
  }

  &.pink{
    background-color: colors.$pink;
  }

  &.gold{
    background-color: colors.$gold;
  }

  &.orange{
    background-color: colors.$orange;
  }

  &.sepia{
    background-color: colors.$beige-100;
  }

  &.white{
    background-color: colors.$white;
  }

  &.black{
    background-color: colors.$black;
  }
}

.valueBoxContent {
  display: flex;
  flex-direction: column;
  row-gap: spaces.$spaceXS;
}

.valueBoxContentTitle {
  margin: spaces.$spaceXXS 0;
  color: colors.$grey-500;

  @include fonts.text-preset-5;

  @include screens.phone {
    @include fonts.text-preset-5;
  }
}

.valueBoxContentValue {
  margin: spaces.$spaceXXS 0;

  @include fonts.text-preset-4-bold;

  @include screens.phone {
    @include fonts.text-preset-5;
  }
}